.header{
     background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 8vh;
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
}
.header ul{
    display: flex;
    width: 300px;
    justify-content: space-around;
    list-style-type: none;
}
.header ul li{
    padding: 10px;
    
}
.header .link {
    margin : 0px;
    text-decoration: none;
justify-content: left;
align-items: center;
display: flex;

    
 
    
}
.header .link{
    text-decoration: none;
    font-size: 20px;
}

    

.cpp{

 
 
    border: 2px;
    border-color: black;
    text-decoration: overline;
}
